@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
    /* color primary */
    --color-Cyan: hsl(179, 62%, 43%);
    --color-BrightYellow: hsl(71, 73%, 54%);
    --color-LightGray: hsl(204, 43%, 93%);
    --GrayishBlue: hsl(218, 22%, 67%);

    --font: 'Karla', sans-serif;
}

body{
    background-color: var(--color-LightGray);
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
}

$margin-bt-title: 1.5rem;
$margin-bt-sub-title: .5rem;
$padding-area: 2.5rem;

// font-size
$title: 1.5rem;
$sub-title: 1rem;
$paragraph: 1rem;
$line-height-pg: 1.5rem;

// border radius
$main-border-radius: .5rem;

.container{
    margin: 1.5rem;
    grid-template-areas: 
                'up up'
                'left right';
    grid-template-columns: 1fr 1fr;
    max-width: 42.5rem;
    .wrapper{
        width: 100%;
        padding: $padding-area;
    }
    .up{
        grid-area: up;
        background-color: #fff;
        padding-right: 3.5rem;
        border-radius: $main-border-radius $main-border-radius 0 0;
    }
    .left{
        grid-area: left;
        background-color: var(--color-Cyan);
        display: flex;
        flex-direction: column;
    }
    .right{
        grid-area: right;
        background-color: rgba(42, 178, 175, .8);
        padding-right: 4rem;
        border-radius: 0 0 $main-border-radius 0;
    }
}

.wrapper{
    .title{
        color: var(--color-Cyan);
        font-size: $title;
        margin-bottom: $margin-bt-title;
    }
    .sub-title{
        margin-bottom: $margin-bt-title;
        font-size: $sub-title;
        color: #fff;
    }
    &.up .sub-title{
        color: var(--color-BrightYellow);
        margin-bottom: $margin-bt-sub-title;
    }
    .detail{
        line-height: $line-height-pg;
        font-size: $paragraph;
    }
    &.up .detail{
        color: var(--GrayishBlue);
    }
    &.left .price{
        font-size: 2rem;
        margin-bottom: $margin-bt-sub-title;
        color: #fff;
        font-weight: bold;
        
        span{
            color: var(--color-LightGray);
            font-size: $paragraph;
            font-weight: normal;
            position: relative;
            top: -0.3rem;
        }
    }
    &.left .detail{
        color: #fff;
        margin-bottom: auto;
    }

    &.left .btn{
        width: 100%;
        padding: 1rem;
        background-color: var(--color-BrightYellow);
        border: none;
        border-radius: $main-border-radius;
        color: #fff;
        font-size: $sub-title;
        font-weight: bold;
    }

    &.left .btn:hover{
        cursor: pointer;
        color:var(--color-Cyan);
        background-color: #fff;
        transition: ease 1s;

    }
    
    &.right .detail{
        color: var(--color-LightGray);
    }
    
}



@media (min-width: 48rem) {
    .container{
        display: grid;

        .left{
            border-radius: 0 0 0 $main-border-radius;
        }
    }
}

@media (max-width:47.938rem) {
    .wrapper{
        padding: 2rem;

        &.left .detail{
            margin-bottom: $margin-bt-title;
        }
    }
    .container .right{
        border-radius: 0 0 $main-border-radius $main-border-radius;
    }
}

